@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Defino las variables base*/

:root {

    --primary-color: #0a2ff1;

    --font-primary: 'Poppins', sans-serif;

    --size-24pt: 32px;

    --font-weight-light: 300;
    --font-weight-bold: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

footer {

    text-align: center;
}

footer>p {
    font-family: var(--font-primary);
    font-size: var(--size-24pt);
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
    padding-bottom: 5rem;
}

footer>p>strong {
    font-weight: var(--font-weight-bold);

}

footer>div>img {
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}