
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}



.titulo-uno{
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: #000;
}

.titulo-uno>h1{
  
    font-size: 67px;
    font-weight: 700;
}

.titulo-dos{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.titulo-dos>h2{

    font-size:198px;
    font-weight: 700;
    color: #000;
}

.titulo-tres{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  
}

.titulo-tres>h3{
 
    font-size:217px;
    font-weight: 700;
   
}


.texto-central{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.texto-central>p{
    font-size:48px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}

.texto-central>p>strong{
    font-size:60px;
    background-color: #fff;
    color: #000;
}



.titulo-footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.titulo-footer{
    font-size: 59px;
    font-weight: 700;
 
}