@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/*Defino las variables base*/

:root {

    --primary-color: #04146c;
    --secundary-color: #edf7ff;

    --font-primary: 'Source Sans 3', sans-serif;

    --size-18pt: 24px;
    --size-20pt: 27px;
    --size-29pt: 39px;
    --size-66pt: 88px;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

.marquesina,
header,
.texto-central,
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: var(--font-primary);
}

.marquesina {
    background-color: var(--primary-color);
}

.marquesina>h2 {
    width: 32vw;
    font-size: var(--size-29pt);
    font-weight: var(--font-weight-regular);
    color: #fff;
    margin: 0 auto;
}

header {
    height: 40vh;
}

header>h1 {
    width: 32vw;
    font-size: var(--size-66pt);
    font-weight: var(--font-weight-black);
    color: var(--primary-color);
    margin: 0 auto;
}

.texto-central {
    height: 5vh;
}

.texto-central>p {
    width: 32vw;
    font-size: var(--size-20pt);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    margin: 0 auto;
}


.imagen-central {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}



.imagen-central>img {
    width: 32vw;
    border:1px solid #04146c;
}

footer {
    background-color: var(--secundary-color);
}

footer>p {
    width: 32vw;
    font-size: var(--size-18pt);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    margin: 0 auto;

}